---
---
:root {
  --primary-font: 'Nanum Gothic', helvetica, sans-serif;

  --primary-bg-color: #fff;
  --secondary-bg-color: #fafafa;
  --border-color: #ccc;

  .theme--dark {

  }
}

* {
  font: 400 16px/36px var(--primary-font);

}

body {
  margin: 0;
}

iframe {
  border: 0;
}

p {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 36px;
  background: var(--primary-bg-color);
  position: sticky;
  top: 0;
  box-shadow: 0 1px 0 var(--border-color);
}

nav .search {
  text-align: center;
  height: 24px;
  font-size: 12px;
  padding: 0 12px;
}

.post-list section {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-bg-color);
}

.post-list section article {
  width: 600px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  margin-bottom: 36px;
}

.post-list section article header,
.post-list section article footer {
  padding: 24px;
  display: flex;
  align-items: center;
}

.avatar {
  display: block;
  height: 48px;
  width: 48px;
  background: #ccc;
  border-radius: 48px;
  margin-right: 18px;
}

.post-list section article picture img {
  width: 100%;
}
